{% extends "feedback/layout.html" %}
{% block title %}<title>Credits for Development of Feedback Portal</title> {% endblock %}
{% block body %}
<div class="row">
    <h3 class="btn-magick"><span class="glyphicon glyphicon-thumbs-up"></span> Credits for Development of Feedback Portal</h3>
    <p>Designed and Developed by <b>Hirendra Thakur</b> and <b>Shashikant Sharma</b>
        under the guidance of <a href="http://www.iitbhu.ac.in/phe/Dr.SR_profile.html"><b>Dr. Senthil Raja</b> </a>,
            <a href="http://iitbhu.ac.in/met/index.php/people/faculty/34.html"><b>Dr. B.N. Sarma</b> </a>,
        <a href="http://www.iitbhu.ac.in/cse/index.php/people/faculty/38.html"><b> Dr. Anil Nelakanti </b></a> and
       <b> DEANS (ACADEMIC AFFAIRS), IIT(BHU)</b></p>
</div>

{% endblock %}